.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a6343b;
  border: 4px solid black;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem 2rem;
  border: 4px solid black;
  width: 420px;
  background: #f2f3f1;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.362);
}

.formHeader {
  color: black;
  margin-bottom: 1rem;
}

.formLabel {
  color: black;
  font-weight: 500; 
}

.formInput {
  background: white;
  color: black;
  font-size: 1rem;
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.25rem;
  border: 2px solid black;
}

.primaryBtn {
  padding: 0.7rem;
  font-weight: bold;
  background: #949391;
  border: 2px solid black;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background 0.2s;
}

.primaryBtn:hover {
  background: #75252a;
  color: white;
}

.secondaryBtn {
  padding: 0.7rem;
  font-weight: bold;
  background: #cacbcb;
  color: #222;
  border: 2px solid black;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background 0.2s;
}

.secondaryBtn:hover {
  background-color: #75252a;
  color: white;
}

.googleBtn {
  padding: 0.7rem;
  font-weight: bold;
  background: #f2f3f1;
  color: black;
  border: 2px solid black;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.googleBtn:hover {
  background: #75252a;
  color: white;
}

.googleIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block;
}

.error {
  color: #d32f2f;
  font-size: 0.85rem;
  margin-top: 1.2rem;
  text-align: center;
  white-space: pre-line;
}