.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  background: #f7f7f7;
  border-left: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  flex-direction: column;
  height: 100vh;
  width: 30px;
  position: sticky;
  top: 0; 
}

.navLeft,
.navCenter,
.navRight {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease;
  color: black;
}

.icon:hover {
  color: #a6343b;
  transform: translateY(-2px);
}
