.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 40px;
  background: #d2def9;
  align-items: center;
  padding: 12px 18px;
  justify-content: space-between;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLeft,
.navCenter,
.navRight {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease;
  color: black;
}

.icon:hover {
  color: #a6343b;
  transform: translateY(-2px);
}
