.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 70px;
  align-items: center;
  padding: 12px 18px;
  justify-content: space-between;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  background: #526fae;
  color: black;
}

.navLeft,
.navCenter,
.navRight {
  display: flex;
  align-items: center;
  gap: 18px;
}

.iconWrapper:hover {
  background-color: #1244b1;
  transform: translateY(-2px);
}

.iconWrapper:hover .icon {
  font-size: 25px;
}

.iconWrapper.active {
  background-color: white;
}

.iconWrapper.active .icon {
  color: #526fae;
}

.iconWrapper {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  font-size: 25px;
  color: white;
  transition: 0.2s ease;
}
