.postContainer {}

.headerSection {}

.userName {}

.profilePic {}

.imageSection {}

.postImage {}

.nextImageButton {}

.prevImageButton {}

.likeCount {}

.actionIcons {}

.likeIcon {}

.commentIcon {}

.saveIcon {}

.postDescription {}