@import "tailwindcss";

:root {
  --background: #d2def9;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #526fae;
    --foreground: white;
  }
}

.appShell {
  display: flex;
}

main {
  margin-left: 40px; /* same width as sidebar important*/
  flex: 1;
  min-height: 100vh;
  overflow-y: auto;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
