.backdrop {
position: fixed;
  inset: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #848c9dab;
}

.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2.5rem 2rem;
  border: 4px solid black;
  width: 420px;
  background: #e9e9e7;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.362);
}

.formHeader {
  color: black;
  margin-bottom: 1rem;
  font-size: xx-large;
  text-align: center;
}

.primaryBtn {
  padding: 0.7rem;
  font-weight: bold;
  background: #526fae;
  border: 2px solid black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.primaryBtn:hover {
  background: #739cf3;
}